[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# RCS1194: Implement exception constructors.
dotnet_diagnostic.RCS1194.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

[*.{cs,vb}]
indent_style=tab